@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /**### Primary*/
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);
    /**### Neutral*/
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);

    --border-red: 15px;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--Magnolia);
    color:var(--Marine-blue); 
    counter-reset: li;
}
ul{
    
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: var(--border-red);
}
a{
    color: inherit;
    text-decoration: none;
}
main{
    padding: 1rem;
    background-color: var(--White);
    display: flex;
    gap: 1rem;
    /*center main*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--border-red);
    height: 80%;
}

/********side bar******/

#sidebar{
    width: 300px;
    padding: 3rem;
    background-position: center;
    background-size: cover;
    border-radius: var(--border-red);
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    text-transform: uppercase;
}
#sidebar p{
    color: var(--Light-blue);
    font-size: 12px;
}
#sidebar h4{
    color: var(--White);
}
li{
    display: flex;
    /*! justify-content: center; */
    align-items: center;
    
}
li::before{
    counter-increment: li;
    content:  counter(li);
    color: var(--White);
    border: var(--Light-blue) 1px solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 li::before:hover {
  background-color: var(--Light-blue);  
}

/********************************main*********************/
.main{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.main>*:nth-child(2){
    background-color: pink;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
#input, #input>div{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
button, form input{
    /*! padding: .3rem .8rem; */
    border-radius: 5px;
    height: 40px;
    border: none;
}
input{
    border: var(--Light-gray) solid 1px !important;
    padding: .3rem .8rem;
}
button{
    background-color: var(--Marine-blue);
    color: var(--White);
    align-self: flex-end;
    /*! padding: 1rem auto !important; */
    padding: .2rem 1rem;
}
.title p{
    margin-top: .5rem;
    font-size: 12px;
    color: var(--Light-gray);
}

.attribution{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}



/**********************step2 *****step2*************/

#plans{
    display: flex;
    justify-content: space-between;
}
#plans>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--border-red);
    border: 1px var(--Marine-blue) solid;
    height: 30%;
}
#plans img{
    width: 50px;
}









